.los-malos{
    background-color: red;
}

.reb{
    background-color: blue;
}
#Darth{
    font-size: 150%;
}
#Luke{
    font-size: italic;
}
.los-soldados{
    border-style: dotted;
    letter-spacing: 2px;
}

.apoyo{

    text-align: center;
}
.nave{
    text-transform:uppercase;
}
#droide{
    align-items: center;

}

body{
    background-image: url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png");
    font-style:normal;
}